<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated canvas -->
      <package
            uri="http://www.kybele.es/projects/elastic/models/canvas/0.1"
            class="es.kybele.elastic.models.canvas.CanvasPackage"
            genModel="model/canvas.genmodel"/>
   </extension>

</plugin>
